<html>
<head>
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-left:auto;
        margin-right:auto;
        }
        
        td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;

        }
        
        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>
    <title> Home Page</title>
</head>
<body>
    <h1 style="text-align:center"> Welcome to Cathy's NFL Survivor Pool</h1>
    <div class = 'form'>
        <form method='POST' action="">
            {{form.hidden_tag()}}
            {{form.username.label}} {{form.username}}
            <br>
            {{form.submit.label}} {{form.submit}}
        </form>

    </div>
    {% if all_users %}
    <h2>League Table</h2>
    <table>
        <tr>
            <th width = '7%'> User </th>
            {% for i  in range(1,19) %}
                <th width = '5%'> Week<br> {{i}}</th>
            {% endfor %}  
        </tr>
        {% for user in all_users %}
        <tr>
            <td>{{user.username}}</td>
            {% for pick, team in all_picks %}
                {% if pick.user_id == user.id %}
                <td>{{team.team_name}}</td>
                {% endif %}
            {% endfor %}
            <td width = '3%'><button><a href ="{{url_for('delete', id = user.id)}}"> Delete User</a> </button></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}



</body>
</html>
