<html>
    <head>
        <style>
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }
            
            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }
            
            tr:nth-child(even) {
            background-color: #dddddd;
            }
        </style>
        <title> User Picks Page</title>
    </head>
<body>
    <h1> {{name|capitalize}}'s Picks</h1>

    <div class = 'form'>
        <form method='POST' action="">
            {{form.week.label}} {{form.week}}
            {{form.subweek.label}} {{form.subweek}}
        </form>
    </div>        
        <table>
          <tr>
            <th>Week 1</th>
            <th>Week 2</th>
            <th>Week 3</th>
            <th>Week 4</th>
            <th>Week 5</th>
            <th>Week 6</th>
            <th>Week 7</th>
            <th>Week 8</th>
            <th>Week 9</th>
            <th>Week 10</th>
            <th>Week 11</th>
            <th>Week 12</th>
            <th>Week 13</th>
            <th>Week 14</th>
            <th>Week 15</th>
            <th>Week 16</th>
            <th>Week 17</th>
            <th>Week 18</th>
          </tr>
          <tr>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            <td>no pick</td>
            
          </tr>
</body>
</html>