<html>
    <head>
        <style>
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin-left:auto;
            margin-right:auto;
            }
            
            td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;

            }
            
            tr:nth-child(even) {
            background-color: #dddddd;
            }
        </style>
        <title> User Picks Page</title>
    </head>
    <body>
        <h1 style="text-align:center"> {{name|capitalize}}'s Picks</h1>
        <h2> <button><a href ="{{url_for('home')}}"> HOME </a></button></h2>
    
        <table>
          <tr>
            {% for num in range(1,19) %}
                <th><a href="{{url_for('week', username = name, week_no = num)}}">Week {{num}} </a></th>
            {% endfor %}
    
          </tr>
          <tr>
            {% for num in range(1,19) %}
                <td>{{picks[num]}}</td>
            {% endfor %}
            
            
          </tr>
        </table>
        {% block body %}
        
        {% endblock body%}
            
    </body>
    <footer>

    </footer>
</html>